
<% if user_signed_in?%>
  <section class="section">
      <div class="container">
          <div class="columns">
            <%= render 'feed' %>
          </div>
      </div>
  </section>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Twitter</th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.tweet %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


